ul,li{
  list-style: none;
}

a{text-decoration: none;}
@mixin margin0{
  margin: 0px;
}
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

$font-family: Microsoft Yahei,Helvetica Neue,Helvetica,Arial,sans-serif;
$fontSize: 12px;
$defaultColor : #34495e;
$black:#24292e;
$white:rgba(255,255,255,0.75);

body{
  @include margin0;
  color: $defaultColor;
  font-size: $fontSize;
  font-family: $font-family;
  background: #3f3f3f;
  overflow: hidden;
}
.fade-enter-active ,.fade-leave-active{
  transition:opacity .5s ease
}
.fade-enter, .fade-leave-active{
  opacity:0
}

.page-enter-active{
  animation: slideInLeft 0.5s;
}
.page-leave-active,.page-leave{
  animation: slideOutRight 0.5s;
}
.left{
  z-index:2;
  position: fixed;
  width: 300px;
  height: 100%;
  background: url("http://ossz5roem.bkt.clouddn.com/bg-2.jpg") #515457;
  background-size: cover;
  background-position: center center;
}
.right{
  z-index:1;
  position: absolute;
  max-height:100%;
  right: 0;
  left:300px;
  color:#998;
  overflow-y: scroll;
}
.right-content{
  a{
    color:#999
  }
}

/**滚动条**/
/*滚动条 start*/
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: #000; background-color: rgba(0,0,0,0.1);
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000; background-color: rgba(0,0,0,0.1);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(255,255,255,0.5);
}